<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link href="https://cdn.bootcdn.net/ajax/libs/element-ui/2.15.9/theme-chalk/index.min.css" rel="stylesheet">
<link rel="stylesheet" href="./css/index.css">
<title>任务监控管理</title>
</head>
<body>
  <div id="app">
    <div class="container">
      <div class="search_wrap">
        <div class="div_search">
          <label>名称/Url</label>
          <el-input size="small" placeholder="请输入名称, 回车检索" suffix-icon="el-icon-search" v-model="searchForm.name" @keyup.enter.native="dsearch" class="input_search"></el-input>
        </div>
        <div class="div_search">
          <label>状态</label>
          <el-select size="small" @change="dsearch" v-model="searchForm.status" placeholder="请选择">
            <el-option v-for="item in statusList" :key="item.value" :label="item.label" :value="item.value"></el-option>
          </el-select>
        </div>
        <div class="div_search">
          <el-button @click="dsearch" type="primary" size="small" >搜索</el-button>
          <el-button @click="add" type="success" size="small" >新增</el-button>
          <el-button @click="editWebhook" size="small" >webhook</el-button>
          <el-button @click="showChart(0)" type="warning" size="small" >看板</el-button>
        </div>
        <div class="div_search ftr">
          <label>任务总状态</label>
          <el-switch @change="setWacth" v-model="isStarted" active-value="1" inactive-value="0"></el-switch>
        </div>
        <div class="div_search ftr">
          <label>明细量</label>
          <el-input-number v-model="logLimit" size="mini" :min="10" :max="100"></el-input-number>
        </div>
      </div>
      <!-- 表格展示 -->
      <el-table v-loading="listLoading" :data="list" border fit highlight-current-row>
        <el-table-column align="center" label="序号" width="50"><template slot-scope="scope">{{ scope.$index + 1 }}</template></el-table-column>
        <el-table-column prop="name" label="名称"></el-table-column>
        <el-table-column prop="url" label="URL" ></el-table-column>
        <el-table-column prop="warnWord" label="关键字"></el-table-column>
        <el-table-column prop="spec" label="cron" width="130"></el-table-column>
        <el-table-column prop="timeout" label="限时(秒)" width="80"></el-table-column>
        <el-table-column label="状态" width="80">
          <template slot-scope="scope"><span v-html="genStatus(scope.row.status)"></span></template>
        </el-table-column>
        <el-table-column label="启用" width="80">
          <template slot-scope="scope">
            <el-switch @change="changeCronState(scope.row)" v-model="scope.row.cronState" :active-value="1" :inactive-value="2"></el-switch>
          </template>
        </el-table-column>
        <el-table-column fixed="right" label="操作" align="center" width="300">
          <template slot-scope="scope">
            <el-button @click="detail(scope.row)" size="mini">明细</el-button>
            <el-button @click="showChart(scope.row.id)" v-show="scope.row.status > 0" type="warning" size="mini">看板</el-button>
            <el-button @click="edit(scope.row)" type="primary" size="mini">编辑</el-button>
            <el-button @click="del(scope.row)" type="danger" size="mini">删除</el-button>
          </template>
        </el-table-column>
      </el-table>

      <!-- <div class="page_bar">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          :current-page="pageNum"
          :page-sizes="[10, 20, 30, 40, 50, 100]"
          :page-size="pageSize"
          :pager-count="5"
          layout="total, prev, pager, next, jumper"
          :total="total"
          class="Pagination_style"
        ></el-pagination>
      </div> -->
    </div>
    <!-- 新增 编辑 任务 -->
    <el-dialog title="编辑" :visible.sync="addFormVisible">
      <el-form :model="form" label-width="120px" ref="ruleForm">
        <el-form-item label="名称"><el-input v-model="form.name"></el-input></el-form-item>
        <el-form-item label="网址url"><el-input v-model="form.url"></el-input></el-form-item>
        <el-form-item label="Cron"><el-input v-model="form.spec"></el-input></el-form-item>
        <el-form-item label="告警词"><el-input v-model="form.warnWord" placeholder="告警词汇, 逗号,分隔" autocomplete="true"></el-input></el-form-item>
        <!-- <el-form-item label="status"><el-input v-model="form.status"></el-input></el-form-item> -->
        <el-form-item label="启用状态">
          <el-select v-model="form.cronState" placeholder="请选择启用状态">
            <el-option label="启用" :value="1"></el-option>
            <el-option label="禁用" :value="2"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="通知类型"><el-input v-model="form.notifyType" placeholder="0: 不通知, 1: webhook"></el-input></el-form-item>
        <!-- <el-form-item label="通知id"><el-input v-model="form.notifyId"></el-input></el-form-item> -->
        <el-form-item label="请求限时"><el-input v-model="form.timeout" placeholder="请求限时(秒)"></el-input></el-form-item>
        <el-form-item label="备注"><el-input v-model="form.remark"></el-input></el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="addFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="save">保 存</el-button>
      </div>
    </el-dialog>
    <!-- 编辑webhook -->
    <el-dialog title="编辑" :visible.sync="webhookShow">
      <el-form :model="form" label-width="120px" ref="ruleForm">
        <el-form-item label="网址url"><el-input v-model="webhook.url"></el-input></el-form-item>
        <el-form-item label="Template"><el-input type="textarea" :rows="7" v-model="webhook.template"></el-input></el-form-item>
        <el-form-item label="启用状态">
          <el-select v-model="webhook.state" placeholder="请选择启用状态">
            <el-option label="启用" :value="1"></el-option>
            <el-option label="禁用" :value="2"></el-option>
          </el-select>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="webhookShow = false">取 消</el-button>
        <el-button type="primary" @click="saveWebhook">保 存</el-button>
      </div>
    </el-dialog>

    <el-dialog title="任务明细" :visible.sync="detailVisible" width="80%">
      <el-table :data="tasklogList">
        <el-table-column align="center" label="序号" width="50"><template slot-scope="scope">{{ scope.$index + 1 }}</template></el-table-column>
        <el-table-column prop="name" label="名称" width="200"></el-table-column>
        <el-table-column label="时间" width="190"><template slot-scope="scope">{{ (scope.row.createdAt + '').substring(0, 19)}}</template></el-table-column>
        <el-table-column prop="spec" label="cron" width="130"></el-table-column>
        <el-table-column prop="duration" label="响应(ms)" width="80"></el-table-column>
        <el-table-column prop="warnWord" label="关键字"></el-table-column>
        <el-table-column prop="remark" label="备注" show-overflow-tooltip="true"></el-table-column>
        <el-table-column label="状态" width="80">
          <template slot-scope="scope"><span v-html="genStatus(scope.row.status)"></span></template>
        </el-table-column>
      </el-table>
    </el-dialog>

    <el-dialog title="数据看板" :visible.sync="chartVisible" fullscreen="true">
      <v-chart class="chartLog" :option="option" :update-options="{notMerge: true}" />
    </el-dialog>
   
  </div>

  <script src="https://cdn.bootcss.com/babel-polyfill/7.6.0/polyfill.min.js"></script>
  <!-- import Vue before Element -->
  <script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
  <!-- import JavaScript -->
  <script src="https://cdn.bootcdn.net/ajax/libs/element-ui/2.15.9/index.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@vue/composition-api@1.7.0/dist/vue-composition-api.prod.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/echarts@5.3.3"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-echarts@6.2.3"></script>
  <script src="./js/axios.min.js"></script>
  <script src="./js/clipboard.min.js"></script>
  <script src="./js/utils.js"></script>
  <script src="./js/option.js?v=001"></script>
  <script>

    Vue.component("v-chart", VueECharts);

    window.app = new Vue({
      el: '#app',
      data: function() {
        return { 
          listLoading: false,
          detailVisible: false,
          addFormVisible:false, 
          chartVisible:false, 
          lwidth: 80,
          tasklogList: [],
          list: [],
          logLimit: 50,
          isStarted: '1',
          searchForm: {
            name: '',
            status: ''
          },
          statusList: [
            {value: '', label: '全部'},
            {value: '1', label: '正常'},
            {value: '2', label: '告警'},
            {value: '9', label: '无法访问'},
          ],
          form: {
            id: 0,
            name: '',
            url: '',
            warnWord: '',
            cronState: 1,
            notifyType: 1,
            notifyId: 1,
            spec: '* */2 * * * *',
            timeout: '',
            remark: '',
            // status: '',
          },
          webhookShow: false,
          webhook: {},
          total: 0,
          pageNum: 1,
          pageSize: 20,
          option: null
        }
      },
      created() {
        this.fetchData()
        request.get('/api/task/getwatch').then(res => this.isStarted = res.data + '')
        request.get('/api/notify/get?id=1').then(res => this.webhook = res.data)
      },
      methods: {
        dsearch() {
          this.fetchData()
        },
        fetchData() {
          request.get('/api/task/list', { params: {
            name: this.searchForm.name,
            status: this.searchForm.status,
            limit: 1000,
          }}).then(res => {
            console.log(res);
            this.total = res.data.length
            if (res.data) this.list = res.data
          })
        },
        genStatus(s) {
          return s == 1 ? '<i class="success">正常</i' : s == 2 ? '<b class="red">告警</b>' : s == 9 ? '<b class="red">无法访问</b>' : '未初始化'
        },
        showResult() {
          this.result = syntaxHighlight(JSON.stringify(this.genHtml(this.value), null, 2))
        },
        setWacth(val) {
          request.get('/api/task/setwatch?start=' + val).then(res => this.$message.success('操作成功!'))
        },
        add() {
          this.form = this.$options.data().form
          this.addFormVisible = true
        },
        edit(row){
          Object.assign(this.form, row)
          this.addFormVisible = true
        },
        save() {
          request.post('/api/task/save', this.form).then(res => {
            this.$message.success('保存成功!')
            this.addFormVisible = false
            this.fetchData()
          })
        },
        changeCronState(row) {
          request.post('/api/task/save', {id: row.id, cronState: row.cronState}).then(res => this.$message.success('操作成功!'))
        },
        detail(row) {
          request.get('/api/tasklog/list?limit=' + this.logLimit + '&taskId=' + row.id).then(res => {
            this.detailVisible = true;
            if (res.data) return this.tasklogList = res.data
            this.tasklogList.splice(0, this.tasklogList.length)
          })
        },
        editWebhook() {
          this.webhookShow = true
        },
        saveWebhook() {
          request.post('/api/notify/save', this.webhook).then(res => {
            this.$message.success('保存成功!')
            this.addFormVisible = false
          })
        },
        handleSizeChange(val) {
          console.log(`每页 ${val} 条`);
          this.pageSize = val;
          this.fetchData();
        },
        handleCurrentChange(val) {
          console.log(`当前页: ${val}`);
          this.pageNum = val;
          this.fetchData();
        },
        showChart(id) {
          this.chartVisible = true
          getOption(id).then(data => {
            this.option = data
          })
        }
      }
    })
  </script>

</body>
</html>